{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<section data-w-id="1b8a36f8-cc33-f35d-6e70-422da3371bbc" class="blog-one-hero tution-fees-hero"
  style="background-image: linear-gradient(#000000db, #0000004a), linear-gradient(#000000d1, #0c0c0c00 30%), url('https://cdn.prod.website-files.com/66f66b14a7360285e4700cb8/67695bc2103d24f42d5b520c_blog-three-bg.webp'); background-repeat: no-repeat; background-size: cover;">
  <div class="w-layout-blockcontainer container w-container">
    <div class="blog-one-hero-content tution-fee">
      <div class="subheading color-white">
        {% blocktranslate %}Faoliyat{% endblocktranslate %}
      </div>
      <div class="headinng-one-margin overflow-hidden">
        <h1 class="slide-title no-margin color-white" style="
          transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1)
            rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
          transform-style: preserve-3d;
        ">
          {% blocktranslate %}
          Elektron davlat xizmatlari reestri
          {% endblocktranslate %}
        </h1>
      </div>
    </div>
  </div>
</section>
<div class="w-layout-blockcontainer container w-container">
  <br>
  <table cellpadding="1" cellspacing="1" style="width:auto; border: 1px solid #eee;" class="table table-bordered table-striped">
    <tbody>
      <tr>
        <td style="text-align: center;"><strong>№</strong></td>
        <td style="text-align: center;"><strong>Davlat xizmatining nomi</strong></td>
        <td style="text-align: center;"><strong>Davlat xizmati ko'rsatilayotgan ariza beruvchilar toifalari</strong></td>
        <td style="text-align: center;"><strong>Davlat xizmati ko'rsatish shakli (an'anaviy va elektron)</strong></td>
        <td style="text-align: center;"><strong>To'lov turi va miqdori</strong></td>
        <td style="text-align: center;"><strong>Davlat xizmati ko'rsatish muddati</strong></td>
        <td style="text-align: center;"><strong>Havola orqali veb-sahifaga o'tish</strong></td>
      </tr>
      <tr>
        <td style="text-align: center;"><strong>1</strong></td>
        <td style="text-align: center;"><span style="font-size:18px;"><strong>"Yo'qolgan attestatlar bo'yicha dublikat berish uchun ariza qabul qilish"</strong></span></td>
        <td style="text-align: center;">Jismoniy shaxs</td>
        <td style="text-align: center;">Elektron</td>
        <td style="text-align: center;">Bepul</td>
        <td style="text-align: center;">5 ish kuni (qo'shimcha 5 ish kuni)</td>
        <td>
        <p style="text-align: center;"><span contenteditable="false" tabindex="-1"><span contenteditable="false" tabindex="-1"><a data-widget="image" href="https://my.gov.uz/oz/service/477"><img alt="png-clipart-computer-icons-human-eye-icon-eye-s-people-logo-thumbnail.png" height="130" src="{% static 'images/icons8-certificate-100.png' %}" width="45"></a></span></span></p>
        </td>
      </tr>
      <tr>
        <td style="text-align: center;"><strong>2</strong></td>
        <td style="text-align: center;"><span style="font-size:18px;"><strong>Xorijiy davlatlarda umumiy o‘rta va o‘rta ta’lim olganlik to‘g‘risida hujjatlarni tan olish uchun elektron ariza yuborish xizmati</strong></span></td>
        <td style="text-align: center;">Jismoniy shaxs</td>
        <td style="text-align: center;">Elektron</td>
        <td style="text-align: center;">Bepul</td>
        <td style="text-align: center;">3 ish kuni</td>
        <td style="text-align: center;"><span contenteditable="false" tabindex="-1"><span contenteditable="false" tabindex="-1"><a data-widget="image" href="https://my.gov.uz/uz/service/290"><img alt="png-clipart-computer-icons-human-eye-icon-eye-s-people-logo-thumbnail.png" height="130" src="{% static 'images/icons8-certificate-100.png' %}" width="45"></a></span></span></td>
      </tr>
      <tr>
        <td style="text-align: center;"><strong>3</strong></td>
        <td style="text-align: center;"><span style="font-size:18px;"><strong>Eksternat tartibida imtihon olish uchun ariza berish xizmati</strong></span></td>
        <td style="text-align: center;">Jismoniy shaxs</td>
        <td style="text-align: center;">Elektron</td>
        <td style="text-align: center;">Bepul</td>
        <td style="text-align: center;">2 ish kuni</td>
        <td style="text-align: center;">&nbsp;</td>
      </tr>
      <tr>
        <td style="text-align: center;"><b>4</b></td>
        <td style="text-align: center;"><span style="font-size:18px;"><strong>Bolalarni bir maktabdan boshqa maktabga ko‘chirish uchun ariza yuborish xizmati</strong></span></td>
        <td style="text-align: center;">Jismoniy shaxs</td>
        <td style="text-align: center;">Elektron</td>
        <td style="text-align: center;">Bepul</td>
        <td style="text-align: center;">5 ish kuni</td>
        <td style="text-align: center;"><span contenteditable="false" tabindex="-1"><span contenteditable="false" tabindex="-1"><a data-widget="image" href="https://my.gov.uz/uz/service/660"><img alt="png-clipart-computer-icons-human-eye-icon-eye-s-people-logo-thumbnail.png" height="130" src="{% static 'images/icons8-certificate-100.png' %}" width="45"></a></span></span></td>
      </tr>
      <tr>
        <td style="text-align: center;"><b>5</b></td>
        <td style="text-align: center;"><span style="font-size:18px;"><strong>Chet el fuqarolarining farzandlarini maktabga qabul qilish</strong></span></td>
        <td style="text-align: center;">Jismoniy shaxs</td>
        <td style="text-align: center;">Elektron</td>
        <td style="text-align: center;">Bepul</td>
        <td style="text-align: center;">3 ish kuni</td>
        <td style="text-align: center;"><span contenteditable="false" tabindex="-1"><span contenteditable="false" tabindex="-1"><a data-widget="image" href="https://my.gov.uz/oz/service/665"><img alt="png-clipart-computer-icons-human-eye-icon-eye-s-people-logo-thumbnail.png" height="130" src="{% static 'images/icons8-certificate-100.png' %}" width="45"></a></span></span></td>
      </tr>
      <tr>
        <td style="text-align: center;"><b>6</b></td>
        <td style="text-align: center;"><span style="font-size:18px;"><strong>Bolani davlat maktabgacha ta’lim muassasasiga joylashtirish uchun ariza berish xizmati</strong></span></td>
        <td style="text-align: center;">Jismoniy shaxs</td>
        <td style="text-align: center;">Elektron</td>
        <td style="text-align: center;">Bepul</td>
        <td style="text-align: center;">&nbsp;</td>
        <td style="text-align: center;"><span contenteditable="false" tabindex="-1"><span contenteditable="false" tabindex="-1"><a data-widget="image" href="https://my.gov.uz/uz/service/285"><img alt="png-clipart-computer-icons-human-eye-icon-eye-s-people-logo-thumbnail.png" height="130" src="{% static 'images/icons8-certificate-100.png' %}" width="45"></a></span></span></td>
      </tr>
      <tr>
        <td style="text-align: center;"><b>7</b></td>
        <td style="text-align: center;"><span style="font-size:18px;"><strong>Bolalarni davlat maktabgacha ta’lim muassasasiga qabul qilish navbatini tekshirish</strong></span></td>
        <td style="text-align: center;">Jismoniy shaxs</td>
        <td style="text-align: center;">Elektron</td>
        <td style="text-align: center;">Bepul</td>
        <td style="text-align: center;">&nbsp;</td>
        <td style="text-align: center;"><a data-widget="image" href="https://my.gov.uz/uz/service/285"><img alt="png-clipart-computer-icons-human-eye-icon-eye-s-people-logo-thumbnail.png" height="130" src="{% static 'images/icons8-certificate-100.png' %}" width="45"></a></td>
      </tr>
    </tbody>
  </table>
  <br>
</div>
<style>
  .table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border: 1px solid #dee2e6;
  }
</style>
{% endblock %}