{% load static %}
{% load i18n %}
<section class="footer-one">
    <div class="footer-one-content">
        <div class="w-layout-blockcontainer container w-container">
            <div class="w-layout-hflex footer-wrap">
                <div class="footer-one-logo-wrap">
                    <a href="/" class="footer-logo w-inline-block"
                        style="background-color: rgba(255, 255, 255, 0.3); border-radius: 8px;"><img loading="lazy"
                            src="{% static 'images/logo.png' %}" alt="logo" /></a>
                    <p class="footer-paragraph light-white">
                        {% blocktranslate %}
                        Buxoro viloyati maktabgacha va maktab ta`limi boshqarmasi
                        {% endblocktranslate %}
                    </p>
                    <div class="w-layout-hflex footer-one-social-icon-wrap">
                        <a href="https://t.me/bvmmtb" class="footer-one-icon w-inline-block"><img
                                src="{% static 'svg/logos/telegram.svg' %}" loading="lazy" width="12" height="12"
                                alt="icon" /></a>
                        <a href="https://www.facebook.com/buxorovxtb" class="footer-one-icon w-inline-block"><img
                                src="{% static 'svg/logos/facebook.svg' %}" loading="lazy" width="12" height="12"
                                alt="icon" /></a>
                        <a href="https://maps.app.goo.gl/fpxzYtnTCCtXj9eZ9" class="footer-one-icon w-inline-block"><img
                                src="{% static 'svg/logos/location.svg' %}" loading="lazy" width="12" height="12"
                                alt="icon" /></a>
                    </div>
                </div>
                <div class="footer-one-menu-box">
                    <div class="heading-style-h6 color-white footer-menu-title">
                        {% blocktranslate %}
                        Bo'limlar
                        {% endblocktranslate %}
                    </div>
                    <div class="w-layout-vflex footer-menu-wrap">
                        <a href="/" aria-current="page" class="footer-menu-item w-inline-block w--current">
                            <div>
                                {% blocktranslate %}
                                Bosh sahifa
                                {% endblocktranslate %}
                            </div>
                        </a>
                        <a href="#faq" aria-current="page" class="footer-menu-item w-inline-block w--current">
                            <div>
                                {% blocktranslate %}
                                Ko'p beriladigan savollar
                                {% endblocktranslate %}
                            </div>
                        </a>
                        <a href="/murojaat" aria-current="page" class="footer-menu-item w-inline-block w--current">
                            <div>
                                {% blocktranslate %}
                                Murojaat
                                {% endblocktranslate %}
                            </div>
                        </a>
                    </div>
                </div>
                <div class="footer-one-contact-box">
                    <div class="heading-style-h6 color-white footer-menu-title">
                        {% blocktranslate %}
                        Biz bilan bog'lanish
                        {% endblocktranslate %}
                    </div>
                    <div class="w-layout-hflex footer-one-icon-wrap footer-one-icon-wrap-one">
                        <div class="footer-one-icon-two">
                            <img loading="lazy"
                                src="https://cdn.prod.website-files.com/66f66b14a7360285e4700cb8/67580c4b5a32f0efcba782ce_icon(3).svg"
                                alt="phone-icon" />
                        </div>
                        <div class="footer-icon-box-content">
                            <div class="light-white">
                                {% blocktranslate %}
                                Telefon
                                {% endblocktranslate %}
                            </div>
                            <a href="tel:+998553129983" class="footer-menu-item no-padding">+998 (55) 312 99 83</a>
                        </div>
                    </div>
                    <div class="w-layout-hflex footer-one-icon-wrap">
                        <div class="footer-one-icon-two" style="flex-shrink: 0 !important;">
                            <img loading="lazy"
                                src="https://cdn.prod.website-files.com/66f66b14a7360285e4700cb8/67580c4b5a32f0efcba782cf_email.svg"
                                alt="mail-icon
" />
                        </div>
                        <div class="footer-icon-box-content">
                            <div class="color-white">
                                {% blocktranslate %}
                                Murojaatlar uchun
                                {% endblocktranslate %}
                            </div>
                            <a href="mailto:buxoro_vxtb@xtv.uz" class="footer-menu-item no-padding">buxoro_vxtb@xtv.uz</a>
                        </div>
                    </div>
                    <div class="w-layout-hflex footer-one-icon-wrap">
                        <div class="footer-one-icon-two" style="flex-shrink: 0 !important;">
                            <img loading="lazy"
                                src="{% static 'svg/logos/location.svg' %}"
                                alt="mail-icon" />
                        </div>
                        <div class="footer-icon-box-content">
                            <div class="color-white">
                                {% blocktranslate %}
                                Manzil
                                {% endblocktranslate %}
                            </div>
                            <a href="@" class="footer-menu-item no-padding">
                                {% blocktranslate %}
                                Buxoro shahar, Bog‘ishamol ko‘chasi 5-uy, 200100
                                {% endblocktranslate %}
                            </a>
                        </div>
                    </div>
                </div>
                <div class="footer-one-newsletter-box">
                    <div class="heading-style-h6 color-white footer-menu-title footer-menu-title-four">
                        {% blocktranslate %}
                        Shaxsiy qabulga kirish
                        {% endblocktranslate %}
                    </div>
                    <a data-w-id="795d6de1-ee4c-d4d3-ae69-e0fb806ed0b7" href="/murojaat"
                        class="button-one-style blue w-inline-block">
                        <div class="w-layout-hflex btton-style-five-main">
                            <div class="button-five-icon-one">
                                <img width="20" height="15" alt="icon"
                                    src="https://cdn.prod.website-files.com/66f66b14a7360285e4700cb8/67614bc1d94765200c786e71_mail-icon.webp"
                                    loading="lazy" />
                            </div>
                            <div class="button-text-wrap position-relative">
                                <div class="button-text-one" style="
                    transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1)
                      rotateX(0deg) rotateY(0deg) rotateZ(0deg)
                      skew(0deg, 0deg);
                    transform-style: preserve-3d;
                  ">
                                    {% blocktranslate %}
                                    Bog'lanish
                                    {% endblocktranslate %}
                                </div>
                                <div class="button-text-one two" style="
                    transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1)
                      rotateX(0deg) rotateY(0deg) rotateZ(0deg)
                      skew(0deg, 0deg);
                    transform-style: preserve-3d;
                  ">
                                    {% blocktranslate %}
                                    Bog'lanish
                                    {% endblocktranslate %}
                                </div>
                            </div>
                        </div>
                        <div class="button-overlay" style="
                transform: translate3d(0px, 103%, 0px) scale3d(1, 1, 1)
                  rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
                transform-style: preserve-3d;
                display: none;
              "></div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="w-layout-hflex copyright-one">
        <div class="w-layout-blockcontainer container w-container">
            <div class="w-layout-hflex copyright-wrap">
                <div class="copyright-content">
                    <p class="copyright-text no-margin">
                        © {% blocktranslate %}
                        Buxoro viloyati maktabgacha va maktab ta'limi boshqarmasi dan “Triple Seven” MChJ, 2025. Barcha huquqlar himoyalangan
                        {% endblocktranslate %}
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>