{% load static %}
<section class="footer-one">
    <div class="footer-one-content">
        <div class="w-layout-blockcontainer container w-container">
            <div class="w-layout-hflex footer-wrap">
                <div class="footer-one-logo-wrap">
                    <a href="/" class="footer-logo w-inline-block"><img loading="lazy"
                            src="{% static 'images/logo.png' %}"
                            alt="logo" /></a>
                    <p class="footer-paragraph light-white">
                        Lorem ipsum dolor sit amet consectetur adipiscing elit.
                        Suspendisse porttitor.
                    </p>
                    <div class="w-layout-hflex footer-one-social-icon-wrap">
                        <a href="http://x.com" class="footer-one-icon w-inline-block"><img
                                src="https://cdn.prod.website-files.com/66f66b14a7360285e4700cb8/67580c4b5a32f0efcba782c9_twitter%20icon.svg"
                                loading="lazy" width="12" height="12" alt="twitter-icon" /></a><a
                            href="http://linkedIn.com" class="footer-one-icon w-inline-block"><img width="12"
                                height="12" alt="linkdin-icon"
                                src="https://cdn.prod.website-files.com/66f66b14a7360285e4700cb8/67580c4b5a32f0efcba782ca_linkdin%20icon.svg"
                                loading="lazy" /></a><a href="http://youtube.com"
                            class="footer-one-icon w-inline-block"><img width="15" height="10" alt="youtube-icon"
                                src="https://cdn.prod.website-files.com/66f66b14a7360285e4700cb8/67580c4b5a32f0efcba782cd_youtube%20icon.svg"
                                loading="lazy" /></a>
                    </div>
                </div>
                <div class="footer-one-menu-box">
                    <div class="heading-style-h6 color-white footer-menu-title">
                        Quick Links
                    </div>
                    <div class="w-layout-vflex footer-menu-wrap">
                        <a href="/home-two" aria-current="page" class="footer-menu-item w-inline-block w--current">
                            <div>Home</div>
                        </a><a href="/about-two" class="footer-menu-item light-white w-inline-block">
                            <div>About</div>
                        </a><a href="/academics-one" class="footer-menu-item light-white w-inline-block">
                            <div>Academics</div>
                        </a><a href="/blog-three" class="footer-menu-item light-white w-inline-block">
                            <div>Blog</div>
                        </a>
                    </div>
                </div>
                <div class="footer-one-contact-box">
                    <div class="heading-style-h6 color-white footer-menu-title">
                        Get In Touch
                    </div>
                    <div class="w-layout-hflex footer-one-icon-wrap footer-one-icon-wrap-one">
                        <div class="footer-one-icon-two">
                            <img loading="lazy"
                                src="https://cdn.prod.website-files.com/66f66b14a7360285e4700cb8/67580c4b5a32f0efcba782ce_icon(3).svg"
                                alt="phone-icon" />
                        </div>
                        <div class="footer-icon-box-content">
                            <div class="light-white">Call Us</div>
                            <a href="tel:88812345678" class="footer-menu-item no-padding">(888)1234-5678</a>
                        </div>
                    </div>
                    <div class="w-layout-hflex footer-one-icon-wrap">
                        <div class="footer-one-icon-two">
                            <img loading="lazy"
                                src="https://cdn.prod.website-files.com/66f66b14a7360285e4700cb8/67580c4b5a32f0efcba782cf_email.svg"
                                alt="mail-icon
" />
                        </div>
                        <div class="footer-icon-box-content">
                            <div class="color-white">Email Us</div>
                            <a href="mailto:info@example.com"
                                class="footer-menu-item no-padding">info@example.com</a>
                        </div>
                    </div>
                </div>
                <div class="footer-one-newsletter-box">
                    <div class="heading-style-h6 color-white footer-menu-title footer-menu-title-four">
                        Have Any query About Admission?
                    </div>
                    <a data-w-id="795d6de1-ee4c-d4d3-ae69-e0fb806ed0b7" href="/contact-us-one"
                        class="button-one-style blue w-inline-block">
                        <div class="w-layout-hflex btton-style-five-main">
                            <div class="button-five-icon-one">
                                <img width="20" height="15" alt="icon"
                                    src="https://cdn.prod.website-files.com/66f66b14a7360285e4700cb8/67614bc1d94765200c786e71_mail-icon.webp"
                                    loading="lazy" />
                            </div>
                            <div class="button-text-wrap position-relative">
                                <div class="button-text-one" style="
                    transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1)
                      rotateX(0deg) rotateY(0deg) rotateZ(0deg)
                      skew(0deg, 0deg);
                    transform-style: preserve-3d;
                  ">
                                    Inquire Now
                                </div>
                                <div class="button-text-one two" style="
                    transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1)
                      rotateX(0deg) rotateY(0deg) rotateZ(0deg)
                      skew(0deg, 0deg);
                    transform-style: preserve-3d;
                  ">
                                    Inquire Now
                                </div>
                            </div>
                        </div>
                        <div class="button-overlay" style="
                transform: translate3d(0px, 103%, 0px) scale3d(1, 1, 1)
                  rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
                transform-style: preserve-3d;
                display: none;
              "></div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="w-layout-hflex copyright-one">
        <div class="w-layout-blockcontainer container w-container">
            <div class="w-layout-hflex copyright-wrap">
                <div class="copyright-content">
                    <p class="copyright-text no-margin">
                        © <span id="year"></span> Eduvolv. All rights reserved.
                    </p>
                </div>
                <div class="w-layout-hflex copyright-menu">
                    <a href="/style-guide" class="footer-menu-item light-white no-padding w-inline-block">
                        <div>Style Guide</div>
                    </a>
                    <div class="footer-link-line"></div>
                    <a href="/changelog" class="footer-menu-item light-white no-padding w-inline-block">
                        <div>Change Log</div>
                    </a>
                    <div class="footer-link-line"></div>
                    <a href="/license" class="footer-menu-item light-white no-padding w-inline-block">
                        <div>License</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>