{% load i18n %}
<section class="navbar-two">
    <div class="w-layout-blockcontainer container w-container">
        <div class="w-layout-grid nav-two-grid">
            <div class="navtwo-menu">
                <div class="w-layout-hflex nav-two-left-content">
                    <div class="top-hedder-contact-menu-wrap">
                        <a href="tel:88812345678"
                            class="top-header-one-timing-wrap top-heaader-menu-item-one w-inline-block"
                            style="padding-top: 8px !important;">
                            <div class="clock-icon">
                                <img width="12" height="12" alt="call-icon"
                                    src="https://cdn.prod.website-files.com/66f66b14a7360285e4700cb8/67580c4b5a32f0efcba782d2_icon(5).svg"
                                    loading="lazy" />
                            </div>
                            <div class="top-header-timing-text">(888)1234-5678</div>
                        </a><a href="mailto:info@example.com"
                            class="top-header-one-timing-wrap top-heaader-menu-item-one w-inline-block"
                            style="padding-top: 8px !important;">
                            <div class="clock-icon">
                                <img width="16" height="12" alt="mail-icon"
                                    src="https://cdn.prod.website-files.com/66f66b14a7360285e4700cb8/67580c4b5a32f0efcba782d3_icon(6).svg"
                                    loading="lazy" />
                            </div>
                            <div class="top-header-timing-text">info@example.com</div>
                        </a>
                    </div>
                </div>
                <div class="w-layout-hflex navtwo-menu-one">
                    <div data-delay="0" data-hover="true" data-w-id="ca3f1f6d-1055-bca8-396b-66b62cbd04cd"
                        class="dropdown-two nav-three w-dropdown">
                        <div class="dropdown-toggle-two w-dropdown-toggle" id="w-dropdown-toggle-0"
                            aria-controls="w-dropdown-list-0" aria-haspopup="menu" aria-expanded="false"
                            role="button" tabindex="0">
                            <div class="nav-menu">
                                {% blocktranslate %} Asosiy {% endblocktranslate %}
                            </div>
                            <div class="dropdown-icon-wrapper" style="
                                transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1)
                                    rotateX(0deg) rotateY(0deg) rotateZ(0deg)
                                    skew(0deg, 0deg);
                                transform-style: preserve-3d;
                                ">
                                <img width="12" height="8" alt="icon"
                                    src="https://cdn.prod.website-files.com/66f66b14a7360285e4700cb8/67778508b1b3622c67892bb5_Dropdown%20Icon%20Navmenu.svg"
                                    loading="lazy" class="dropdown-white-icon" />
                            </div>
                            <div class="dropdown-hover-border" style="
                  transform: translate3d(0px, 0px, 0px) scale3d(0, 1, 1)
                    rotateX(0deg) rotateY(0deg) rotateZ(0deg)
                    skew(0deg, 0deg);
                  transform-style: preserve-3d;
                "></div>
                        </div>
                        <nav class="dropdown-list-two w-dropdown-list" id="w-dropdown-list-0"
                            aria-labelledby="w-dropdown-toggle-0" style="height: 0px">
                            <a href="/404" class="dropdown-link w-dropdown-link" tabindex="0">
                                {% blocktranslate %} O'qituvchi ish o'rinlari {% endblocktranslate %}
                            </a><a href="https://uzedu.uz/documents/categories"
                                class="dropdown-link w-dropdown-link" tabindex="0">
                                {% blocktranslate %} Hujjatlar {% endblocktranslate %}
                            </a><a href="https://uzedu.uz/uz/projects/index" class="dropdown-link w-dropdown-link"
                                tabindex="0">
                                {% blocktranslate %} Loyihalar {% endblocktranslate %}
                            </a><a href="#faq" class="dropdown-link w-dropdown-link" tabindex="0">
                                {% blocktranslate %} Ko‘p beriladigan savollar {% endblocktranslate %}
                            </a><a href="/murojaat" class="dropdown-link w-dropdown-link" tabindex="0">
                                {% blocktranslate %} Fuqarolar murojaati {% endblocktranslate %}
                            </a>
                        </nav>
                    </div>
                    <div data-delay="0" data-hover="true" data-w-id="516234a5-b918-3a02-80e9-4a7e76b667f9"
                        class="dropdown-two nav-three w-dropdown">
                        <div class="dropdown-toggle-two w-dropdown-toggle" id="w-dropdown-toggle-1"
                            aria-controls="w-dropdown-list-1" aria-haspopup="menu" aria-expanded="false"
                            role="button" tabindex="0">
                            <div class="nav-menu">About</div>
                            <div class="dropdown-hover-border" style="
                  transform: translate3d(0px, 0px, 0px) scale3d(0, 1, 1)
                    rotateX(0deg) rotateY(0deg) rotateZ(0deg)
                    skew(0deg, 0deg);
                  transform-style: preserve-3d;
                "></div>
                            <div class="dropdown-icon-wrapper" style="
                  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1)
                    rotateX(0deg) rotateY(0deg) rotateZ(0deg)
                    skew(0deg, 0deg);
                  transform-style: preserve-3d;
                ">
                                <img width="12" height="8" alt="icon"
                                    src="https://cdn.prod.website-files.com/66f66b14a7360285e4700cb8/67778508b1b3622c67892bb5_Dropdown%20Icon%20Navmenu.svg"
                                    loading="lazy" class="dropdown-white-icon" />
                            </div>
                        </div>
                        <nav class="dropdown-list-two w-dropdown-list" id="w-dropdown-list-1"
                            aria-labelledby="w-dropdown-toggle-1" style="height: 0px">
                            <a href="/about-one" class="dropdown-link w-dropdown-link" tabindex="0">About One</a><a
                                href="/about-two" class="dropdown-link w-dropdown-link" tabindex="0">About Two</a><a
                                href="/about-three" class="dropdown-link w-dropdown-link" tabindex="0">About
                                three</a>
                        </nav>
                    </div>
                    <div data-w-id="dac65eaa-0013-1e5d-3353-dae093843801" class="mega-menu-main-one">
                        <div data-delay="0" data-hover="false" class="dropdown-two nav-three w-dropdown">
                            <div class="dropdown-toggle-two w-dropdown-toggle" id="w-dropdown-toggle-2"
                                aria-controls="w-dropdown-list-2" aria-haspopup="menu" aria-expanded="false"
                                role="button" tabindex="0">
                                <div class="nav-menu">Pages</div>
                                <div class="dropdown-hover-border" style="
                    transform: translate3d(0px, 0px, 0px) scale3d(0, 1, 1)
                      rotateX(0deg) rotateY(0deg) rotateZ(0deg)
                      skew(0deg, 0deg);
                    transform-style: preserve-3d;
                  "></div>
                                <div class="dropdown-icon-wrapper" style="
                    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1)
                      rotateX(0deg) rotateY(0deg) rotateZ(0deg)
                      skew(0deg, 0deg);
                    transform-style: preserve-3d;
                  ">
                                    <img width="12" height="8" alt="icon"
                                        src="https://cdn.prod.website-files.com/66f66b14a7360285e4700cb8/67778508b1b3622c67892bb5_Dropdown%20Icon%20Navmenu.svg"
                                        loading="lazy" class="dropdown-white-icon" />
                                </div>
                            </div>
                            <nav class="nevigation-dropdown-list-mega-menu border-change w-dropdown-list"
                                id="w-dropdown-list-2" aria-labelledby="w-dropdown-toggle-2"></nav>
                        </div>
                        <div class="new-mega-menu-block" style="width: 100%; height: 0px; display: none">
                            <div class="mega-menu-wrapper-one">
                                <div class="pages-menu-section-one">
                                    <a href="/about-one" class="dropdown-link top-pading-zero w-inline-block">
                                        <div class="sub-menu-heading">About One</div>
                                    </a><a href="/about-two" class="dropdown-link w-inline-block">
                                        <div class="sub-menu-heading">About Two</div>
                                    </a><a href="/about-three" class="dropdown-link w-inline-block">
                                        <div class="sub-menu-heading">About Three</div>
                                    </a><a href="/academics-one" class="dropdown-link w-inline-block">
                                        <div class="sub-menu-heading">Academics one</div>
                                    </a><a href="/academics-two" class="dropdown-link w-inline-block">
                                        <div class="sub-menu-heading">Academics two</div>
                                    </a><a href="/academics-three" class="dropdown-link w-inline-block">
                                        <div class="sub-menu-heading">Academics Three</div>
                                    </a><a href="/admission"
                                        class="dropdown-link bottom-pading-zero w-inline-block">
                                        <div class="sub-menu-heading">Admission</div>
                                    </a>
                                </div>
                                <div class="menu-section-two">
                                    <a href="/campus-life" class="dropdown-link top-pading-zero w-inline-block">
                                        <div class="sub-menu-heading">Campus life</div>
                                    </a><a href="/teachers" class="dropdown-link w-inline-block">
                                        <div class="sub-menu-heading">Teachers</div>
                                    </a><a href="/tuition-fees" class="dropdown-link w-inline-block">
                                        <div class="sub-menu-heading">tuition Fees</div>
                                    </a><a href="/blog-one" class="dropdown-link w-inline-block">
                                        <div class="sub-menu-heading">Blog One</div>
                                    </a><a href="/blog-two" class="dropdown-link w-inline-block">
                                        <div class="sub-menu-heading">Blog Two</div>
                                    </a><a href="/blog-three" class="dropdown-link w-inline-block">
                                        <div class="sub-menu-heading">Blog Three</div>
                                    </a><a
                                        href="https://eduvolv.webflow.io/blog/the-rise-of-gamification-in-modern-classrooms"
                                        class="dropdown-link w-inline-block">
                                        <div class="sub-menu-heading">Blog Details</div>
                                    </a>
                                </div>
                                <div class="menu-section-three">
                                    <a href="/contact-us-one" class="dropdown-link w-inline-block">
                                        <div class="sub-menu-heading">Contact One</div>
                                    </a><a href="/contact-us-two" class="dropdown-link w-inline-block">
                                        <div class="sub-menu-heading">Contact two</div>
                                    </a><a href="/contact-us-three" class="dropdown-link w-inline-block">
                                        <div class="sub-menu-heading">Contact three</div>
                                    </a><a href="https://eduvolv.webflow.io/401"
                                        class="dropdown-link w-inline-block">
                                        <div class="sub-menu-heading">
                                            Password Protected
                                        </div>
                                    </a><a href="https://eduvolv.webflow.io/404"
                                        class="dropdown-link w-inline-block">
                                        <div class="sub-menu-heading">404</div>
                                    </a>
                                </div>
                                <div class="mega-menu-divider"></div>
                                <div class="mega-menu-image-wrapper">
                                    <img width="250" height="Auto" alt="Nav Image"
                                        src="https://cdn.prod.website-files.com/66f66b14a7360285e4700cb8/676a7cf854cbcdac244163bb_academic-three-faq.webp"
                                        loading="lazy" srcset="
                      https://cdn.prod.website-files.com/66f66b14a7360285e4700cb8/676a7cf854cbcdac244163bb_academic-three-faq-p-500.webp   500w,
                      https://cdn.prod.website-files.com/66f66b14a7360285e4700cb8/676a7cf854cbcdac244163bb_academic-three-faq-p-800.webp   800w,
                      https://cdn.prod.website-files.com/66f66b14a7360285e4700cb8/676a7cf854cbcdac244163bb_academic-three-faq-p-1080.webp 1080w,
                      https://cdn.prod.website-files.com/66f66b14a7360285e4700cb8/676a7cf854cbcdac244163bb_academic-three-faq.webp        1180w
                    " sizes="100vw" class="autofit-two nav-image" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a href="/" class="navtwo-menu-logo w-inline-block"><img width="Auto" height="Auto" alt=""
                    src="https://cdn.prod.website-files.com/66f66b14a7360285e4700cb8/6772174ae6e458d66a872847_eduvolv-logo.svg"
                    loading="lazy" /></a>
            <div class="navtwo-menu">
                <div class="w-layout-hflex nav-two-right-content">
                    <div class="w-layout-hflex navbar-social-link">
                        <div class="color-white text-capitalize top-header-timing-text">
                            {% blocktranslate %}follow us:{% endblocktranslate %}
                        </div>
                        <a href="https://www.linkedin.com" class="top-social-icon w-inline-block"><img
                                loading="lazy"
                                src="https://cdn.prod.website-files.com/66f66b14a7360285e4700cb8/67580c4b5a32f0efcba782ca_linkdin%20icon.svg"
                                alt="linkdin-icon" /></a><a href="http://x.com"
                            class="top-social-icon w-inline-block"><img loading="lazy"
                                src="https://cdn.prod.website-files.com/66f66b14a7360285e4700cb8/67580c4b5a32f0efcba782c9_twitter%20icon.svg"
                                alt="twitter-icon" /></a><a href="http://youtube.com"
                            class="top-social-icon w-inline-block"><img loading="lazy"
                                src="https://cdn.prod.website-files.com/66f66b14a7360285e4700cb8/67580c4b5a32f0efcba782cd_youtube%20icon.svg"
                                alt="youtube-icon" /></a>
                    </div>
                    <div class="top-header-one-timing-wrap">
                        <a data-wf--red-button--variant="red-button"
                            data-w-id="357fb228-33ae-b3b5-1f97-60ac41dee7a5" href="/admin"
                            class="button-one-style w-inline-block" style="padding: 4px 16px !important;">
                            <div class="button-text-wrap position-relative">
                                <div class="button-text-one" style="
              transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1)
                rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
              transform-style: preserve-3d;
            ">
                                    Kirish
                                </div>
                                <div class="button-text-one two" style="
              transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1)
                rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
              transform-style: preserve-3d;
            ">
                                    Kirish
                                </div>
                            </div>
                            <div class="button-overlay" style="
            transform: translate3d(0px, 103%, 0px) scale3d(1, 1, 1)
              rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
            transform-style: preserve-3d;
            display: none;
          "></div>
                        </a>
                    </div>
                </div>
                <div class="w-layout-hflex navtwo-menu-one right">
                    <div data-delay="0" data-hover="true" data-w-id="667bb3c8-b6b6-694d-f66a-9989ed0dd851"
                        class="dropdown-two nav-three w-dropdown">
                        <div class="dropdown-toggle-two w-dropdown-toggle" id="w-dropdown-toggle-3"
                            aria-controls="w-dropdown-list-3" aria-haspopup="menu" aria-expanded="false"
                            role="button" tabindex="0">
                            <div class="nav-menu">Shop</div>
                            <div class="dropdown-hover-border"></div>
                            <div class="dropdown-icon-wrapper">
                                <img width="12" height="8" alt="icon"
                                    src="https://cdn.prod.website-files.com/66f66b14a7360285e4700cb8/67778508b1b3622c67892bb5_Dropdown%20Icon%20Navmenu.svg"
                                    loading="lazy" class="dropdown-white-icon" />
                            </div>
                        </div>
                        <nav class="dropdown-list-two w-dropdown-list" id="w-dropdown-list-3"
                            aria-labelledby="w-dropdown-toggle-3">
                            <a href="/shop" class="dropdown-link w-dropdown-link" tabindex="0">Shop</a><a
                                href="https://eduvolv.webflow.io/product/hoodie"
                                class="dropdown-link w-dropdown-link" tabindex="0">Shop Details</a>
                        </nav>
                    </div>
                    <div data-delay="0" data-hover="true" data-w-id="bb00e7c9-b175-ad49-3af3-5589af53175d"
                        class="dropdown-two nav-three w-dropdown">
                        <div class="dropdown-toggle-two w-dropdown-toggle" id="w-dropdown-toggle-4"
                            aria-controls="w-dropdown-list-4" aria-haspopup="menu" aria-expanded="false"
                            role="button" tabindex="0">
                            <div class="nav-menu">Contact</div>
                            <div class="dropdown-hover-border"></div>
                            <div class="dropdown-icon-wrapper">
                                <img width="12" height="8" alt="icon"
                                    src="https://cdn.prod.website-files.com/66f66b14a7360285e4700cb8/67778508b1b3622c67892bb5_Dropdown%20Icon%20Navmenu.svg"
                                    loading="lazy" class="dropdown-white-icon" />
                            </div>
                        </div>
                        <nav class="dropdown-list-two w-dropdown-list" id="w-dropdown-list-4"
                            aria-labelledby="w-dropdown-toggle-4">
                            <a href="/contact-us-one" class="dropdown-link w-dropdown-link" tabindex="0">Contact
                                one</a><a href="/contact-us-two" class="dropdown-link w-dropdown-link"
                                tabindex="0">Contact two</a><a href="/contact-us-three"
                                class="dropdown-link w-dropdown-link" tabindex="0">Contact three</a>
                        </nav>
                    </div>
                    <!-- <a href="{% url 'news_list' %}" class="nav-link">{% trans 'News' %}</a> -->
                    <!-- <div data-w-id="ee98db2c-f5ff-e773-d974-b527d806af7c" class="dropdown-two nav-three last-item">
                        <a href="/admission" class="nav-menu nav-three-menu">Admission</a>
                        <div class="dropdown-hover-border"></div>
                    </div> -->
                    <form data-w-id="ee98db2c-f5ff-e773-d974-b527d806af7c" action="{% url 'set_language' %}"
                        method="post" class="language-form">{% csrf_token %}
                        <input name="next" type="hidden" value="{{ redirect_to }}">

                        <div data-delay="0" data-hover="true" data-w-id="bb00e7c9-b175-ad49-3af3-5589af53175d"
                            class="dropdown-two nav-three w-dropdown">
                            <div class="dropdown-toggle-two w-dropdown-toggle" id="w-dropdown-toggle-4"
                                aria-controls="w-dropdown-list-4" aria-haspopup="menu" aria-expanded="false"
                                role="button" tabindex="0">
                                <div class="nav-menu" style="text-transform: capitalize;">
                                    {% get_current_language as LANGUAGE_CODE %}
                                    {% get_available_languages as LANGUAGES %}
                                    {% get_language_info_list for LANGUAGES as languages %}
                                    {% for language in languages %}
                                    {% if language.code == LANGUAGE_CODE %}
                                    {{ language.name_local }}
                                    {% endif %}
                                    {% endfor %}
                                </div>
                                <div class="dropdown-hover-border"></div>
                                <div class="dropdown-icon-wrapper">
                                    <img width="12" height="8" alt="icon"
                                        src="https://cdn.prod.website-files.com/66f66b14a7360285e4700cb8/67778508b1b3622c67892bb5_Dropdown%20Icon%20Navmenu.svg"
                                        loading="lazy" class="dropdown-white-icon" />
                                </div>
                            </div>
                            <nav class="dropdown-list-two w-dropdown-list" id="w-dropdown-list-4"
                                aria-labelledby="w-dropdown-toggle-4">
                                {% get_available_languages as LANGUAGES %}
                                {% get_language_info_list for LANGUAGES as languages %}
                                {% for language in languages %}
                                <a href="#" class="dropdown-link langswitcher w-dropdown-link"
                                    data-language="{{ language.code }}" tabindex="0">
                                    {{ language.name_local }}
                                </a>
                                {% endfor %}
                            </nav>
                        </div>

                        <!-- Hidden input to store selected language -->
                        <input type="hidden" name="language" id="language-input">
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>