{% load static %}
{% load i18n %}
<section class="navbar-three">
    <div class="top-header-one">
        <div class="w-layout-blockcontainer container w-container">
            <div class="w-layout-hflex top-header-content-wrap">
                <div class="w-layout-hflex">
                    <div class="top-hedder-contact-menu-wrap">
                        <a href="tel:712020909" class="top-header-one-timing-wrap top-heaader-menu-item-one w-inline-block"
                            style="padding-top: 8px !important;">
                            <div class="clock-icon">
                                <img width="12" height="12" alt="call-icon"
                                    src="https://cdn.prod.website-files.com/66f66b14a7360285e4700cb8/67580c4b5a32f0efcba782d2_icon(5).svg"
                                    loading="lazy" />
                            </div>
                            <div class="top-header-timing-text">(71) 202 09 09</div>
                        </a><a href="https://t.me/bvxtb_bot" class="top-header-one-timing-wrap top-heaader-menu-item-one w-inline-block"
                            style="padding-top: 8px !important;">
                            <div class="clock-icon">
                                <img width="16" height="12" alt="mail-icon"
                                    src="https://cdn.prod.website-files.com/66f66b14a7360285e4700cb8/67580c4b5a32f0efcba782d3_icon(6).svg"
                                    loading="lazy" />
                            </div>
                            <div class="top-header-timing-text">bvxtb_bot</div>
                        </a>
                    </div>
                </div>
                <div class="w-layout-hflex nav-two-right-content">
                    <div class="top-header-one-timing-wrap">
                        <a data-wf--red-button--variant="red-button"
                            data-w-id="357fb228-33ae-b3b5-1f97-60ac41dee7a5" href="/admin"
                            class="button-one-style w-inline-block" style="padding: 4px 16px !important;">
                            <div class="button-text-wrap position-relative">
                                <div class="button-text-one" style="
              transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1)
                rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
              transform-style: preserve-3d;
            ">
                                    {% blocktranslate %} Kirish {% endblocktranslate %}
                                </div>
                                <div class="button-text-one two" style="
              transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1)
                rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
              transform-style: preserve-3d;
            ">
                                    {% blocktranslate %} Kirish {% endblocktranslate %}
                                </div>
                            </div>
                            <div class="button-overlay" style="
            transform: translate3d(0px, 103%, 0px) scale3d(1, 1, 1)
              rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
            transform-style: preserve-3d;
            display: none;
          "></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar-three-wrap">
        <div data-w-id="d500bf85-1270-3ab7-b76a-3c0d2bbcd4f7" data-animation="default" data-collapse="medium"
            data-duration="400" data-easing="ease" data-easing2="ease" role="banner"
            class="navbar-three-main w-nav">
            <div class="container w-container">
                <div class="navbar-three-wrap">
                    <div class="header-logo">
                        <a href="/" class="logo-one w-nav-brand" style="background-color: rgba(255, 255, 255, 0.3); border-radius: 100%; padding: 4px 8px !important;" aria-label="home"><img loading="lazy"
                                src="{% static 'images/favicon.png' %}"
                                alt="logo" width="40px" /></a>
                    </div>
                    <nav role="navigation" id="w-node-d500bf85-1270-3ab7-b76a-3c0d2bbcd4fd-2bbcd4d7"
                        class="nav-menu-one w-nav-menu">
                        <div data-delay="0" data-hover="true" data-w-id="d500bf85-1270-3ab7-b76a-3c0d2bbcd4fe"
                            class="dropdown-two w-dropdown" style="max-width: 1320px">
                            <div class="dropdown-toggle-two w-dropdown-toggle" id="w-dropdown-toggle-5"
                                aria-controls="w-dropdown-list-5" aria-haspopup="menu" aria-expanded="false"
                                role="button" tabindex="0">
                                <div class="nav-menu">
                                    {% blocktranslate %}Asosiy{% endblocktranslate %}
                                </div>
                                <div class="dropdown-icon-wrapper" style="
                    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1)
                      rotateX(0deg) rotateY(0deg) rotateZ(0deg)
                      skew(0deg, 0deg);
                    transform-style: preserve-3d;
                  ">
                                    <img width="12" height="8" alt="icon"
                                        src="https://cdn.prod.website-files.com/66f66b14a7360285e4700cb8/67778508b1b3622c67892bb5_Dropdown%20Icon%20Navmenu.svg"
                                        loading="lazy" class="dropdown-white-icon" />
                                </div>
                                <div class="dropdown-hover-border" style="
                    transform: translate3d(0px, 0px, 0px) scale3d(0, 1, 1)
                      rotateX(0deg) rotateY(0deg) rotateZ(0deg)
                      skew(0deg, 0deg);
                    transform-style: preserve-3d;
                  "></div>
                            </div>
                            <nav class="dropdown-list-two w-dropdown-list" id="w-dropdown-list-5"
                                aria-labelledby="w-dropdown-toggle-5" style="height: 0px">
                                <a href="/404" class="dropdown-link w-dropdown-link" tabindex="0">
                                    {% blocktranslate %} O'qituvchi ish o'rinlari {% endblocktranslate %}
                                </a><a href="https://uzedu.uz/documents/categories"
                                    class="dropdown-link w-dropdown-link" tabindex="0">
                                    {% blocktranslate %} Hujjatlar {% endblocktranslate %}
                                </a><a href="https://uzedu.uz/uz/projects/index" class="dropdown-link w-dropdown-link"
                                    tabindex="0">
                                    {% blocktranslate %} Loyihalar {% endblocktranslate %}
                                </a><a href="#faq" class="dropdown-link w-dropdown-link" tabindex="0">
                                    {% blocktranslate %} Ko‘p beriladigan savollar {% endblocktranslate %}
                                </a><a href="/murojaat" class="dropdown-link w-dropdown-link" tabindex="0">
                                    {% blocktranslate %} Fuqarolar murojaati {% endblocktranslate %}
                                </a>
                            </nav>
                        </div>
                        <div data-delay="0" data-hover="true" data-w-id="d500bf85-1270-3ab7-b76a-3c0d2bbcd50c"
                            class="dropdown-two w-dropdown" style="max-width: 1320px">
                            <div class="dropdown-toggle-two w-dropdown-toggle" id="w-dropdown-toggle-6"
                                aria-controls="w-dropdown-list-6" aria-haspopup="menu" aria-expanded="false"
                                role="button" tabindex="0">
                                <div class="nav-menu">
                                    {% blocktranslate %} Boshqarma {% endblocktranslate %}
                                </div>
                                <div class="dropdown-hover-border" style="
                    transform: translate3d(0px, 0px, 0px) scale3d(0, 1, 1)
                      rotateX(0deg) rotateY(0deg) rotateZ(0deg)
                      skew(0deg, 0deg);
                    transform-style: preserve-3d;
                  "></div>
                                <div class="dropdown-icon-wrapper" style="
                    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1)
                      rotateX(0deg) rotateY(0deg) rotateZ(0deg)
                      skew(0deg, 0deg);
                    transform-style: preserve-3d;
                  ">
                                    <img width="12" height="8" alt="icon"
                                        src="https://cdn.prod.website-files.com/66f66b14a7360285e4700cb8/67778508b1b3622c67892bb5_Dropdown%20Icon%20Navmenu.svg"
                                        loading="lazy" class="dropdown-white-icon" />
                                </div>
                            </div>
                            <nav class="dropdown-list-two w-dropdown-list" id="w-dropdown-list-6"
                                aria-labelledby="w-dropdown-toggle-6" style="height: 0px">
                                <a href="/about" class="dropdown-link w-dropdown-link" tabindex="0">
                                    {% blocktranslate %} Boshqarma haqida {% endblocktranslate %}
                                </a>
                                <a href="/persons/1" class="dropdown-link w-dropdown-link" tabindex="0">
                                    {% blocktranslate %} Rahbariyat {% endblocktranslate %}
                                </a>
                                <a href="/persons/2" class="dropdown-link w-dropdown-link" tabindex="0">
                                    {% blocktranslate %} Xodimlar {% endblocktranslate %}
                                </a>                            
                                <a href="/persons/3" class="dropdown-link w-dropdown-link" tabindex="0">
                                    {% blocktranslate %} Hududiy bo’limlar {% endblocktranslate %}
                                </a>
                                <a href="https://uzedu.uz/staff/4 " class="dropdown-link w-dropdown-link" tabindex="0">
                                    {% blocktranslate %} Respublika tashkilotlari {% endblocktranslate %}
                                </a>
                                <a href="https://uzedu.uz/uz/page/7" class="dropdown-link w-dropdown-link" tabindex="0">
                                    {% blocktranslate %} Vazirlik tuzilmasi {% endblocktranslate %}
                                </a>
                                <a href="https://uzedu.uz/page/requisites" class="dropdown-link w-dropdown-link" tabindex="0">
                                    {% blocktranslate %} Rekvizitlar {% endblocktranslate %}
                                </a>
                                <a href="/purpose" class="dropdown-link w-dropdown-link" tabindex="0">
                                    {% blocktranslate %} Missiya, maqsad va vazifalar {% endblocktranslate %}
                                </a>
                                <a href="#demoformv" class="dropdown-link w-dropdown-link" tabindex="0">
                                    {% blocktranslate %} Bog'lanish {% endblocktranslate %}
                                </a>
                            </nav>
                        </div>
                        <div data-w-id="d500bf85-1270-3ab7-b76a-3c0d2bbcd51a" class="mega-menu-main-one">
                            <div data-delay="0" data-hover="false" class="dropdown-two w-dropdown"
                                style="max-width: 1320px">
                                <div class="dropdown-toggle-two w-dropdown-toggle" id="w-dropdown-toggle-7"
                                    aria-controls="w-dropdown-list-7" aria-haspopup="menu" aria-expanded="false"
                                    role="button" tabindex="0">
                                    <div class="nav-menu">
                                        {% blocktranslate %} Boshqa sahifalar {% endblocktranslate %}
                                    </div>
                                    <div class="dropdown-hover-border" style="
                      transform: translate3d(0px, 0px, 0px) scale3d(0, 1, 1)
                        rotateX(0deg) rotateY(0deg) rotateZ(0deg)
                        skew(0deg, 0deg);
                      transform-style: preserve-3d;
                    "></div>
                                    <div class="dropdown-icon-wrapper" style="
                      transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1)
                        rotateX(0deg) rotateY(0deg) rotateZ(0deg)
                        skew(0deg, 0deg);
                      transform-style: preserve-3d;
                    ">
                                        <img width="12" height="8" alt="icon"
                                            src="https://cdn.prod.website-files.com/66f66b14a7360285e4700cb8/67778508b1b3622c67892bb5_Dropdown%20Icon%20Navmenu.svg"
                                            loading="lazy" class="dropdown-white-icon" />
                                    </div>
                                </div>
                                <nav class="nevigation-dropdown-list-mega-menu border-change w-dropdown-list"
                                    id="w-dropdown-list-7" aria-labelledby="w-dropdown-toggle-7"></nav>
                            </div>
                            <div class="new-mega-menu-block" style="width: 100%; height: 0px; display: none">
                                <div class="mega-menu-wrapper-one">
                                    <div class="pages-menu-section-one">
                                        <a href="#" class="dropdown-link top-pading-zero w-inline-block">
                                            <div class="sub-menu-heading">
                                                {% blocktranslate %} Boshqarma yangiliklari {% endblocktranslate %}
                                            </div>
                                        </a>
                                        <a href="#" class="dropdown-link top-pading-zero w-inline-block">
                                            <div class="sub-menu-heading">
                                                {% blocktranslate %} Press-relizlar {% endblocktranslate %}
                                            </div>
                                        </a>
                                        <a href="#" class="dropdown-link top-pading-zero w-inline-block">
                                            <div class="sub-menu-heading">
                                                {% blocktranslate %} OAV biz haqimizda {% endblocktranslate %}
                                            </div>
                                        </a>
                                        <a href="#" class="dropdown-link top-pading-zero w-inline-block">
                                            <div class="sub-menu-heading">
                                                {% blocktranslate %} Ma`ruzalar {% endblocktranslate %}
                                            </div>
                                        </a>
                                        <a href="#" class="dropdown-link top-pading-zero w-inline-block">
                                            <div class="sub-menu-heading">
                                                {% blocktranslate %} Galereya {% endblocktranslate %}
                                            </div>
                                        </a>
                                        <a href="#" class="dropdown-link top-pading-zero w-inline-block">
                                            <div class="sub-menu-heading">
                                                {% blocktranslate %} Video galereya {% endblocktranslate %}
                                            </div>
                                        </a>
                                        <a href="/persons/4" class="dropdown-link top-pading-zero w-inline-block">
                                            <div class="sub-menu-heading">
                                                {% blocktranslate %} Axborot xizmati {% endblocktranslate %}
                                            </div>
                                        </a>
                                        <a href="#" class="dropdown-link top-pading-zero w-inline-block">
                                            <div class="sub-menu-heading">
                                                {% blocktranslate %} Matbuot anjumanlari {% endblocktranslate %}
                                            </div>
                                        </a>
                                        <a href="#" class="dropdown-link top-pading-zero w-inline-block">
                                            <div class="sub-menu-heading">
                                                {% blocktranslate %} Konferensiyalar {% endblocktranslate %}
                                            </div>
                                        </a>
                                        <a href="#" class="dropdown-link top-pading-zero w-inline-block">
                                            <div class="sub-menu-heading">
                                                {% blocktranslate %} Yordam {% endblocktranslate %}
                                            </div>
                                        </a>
                                        <a href="#" class="dropdown-link top-pading-zero w-inline-block">
                                            <div class="sub-menu-heading">
                                                {% blocktranslate %} Tanlovlar {% endblocktranslate %}
                                            </div>
                                        </a>
                                        <a href="/openness" class="dropdown-link top-pading-zero w-inline-block">
                                            <div class="sub-menu-heading">
                                                {% blocktranslate %} Boshqarma faoliyatining ochiqligi
                                                {% endblocktranslate %}
                                            </div>
                                        </a>
                                        <a href="#" class="dropdown-link top-pading-zero w-inline-block">
                                            <div class="sub-menu-heading">
                                                {% blocktranslate %} Infografika {% endblocktranslate %}
                                            </div>
                                        </a>
                                        <a href="#" class="dropdown-link top-pading-zero w-inline-block">
                                            <div class="sub-menu-heading">
                                                {% blocktranslate %} Bayonotlar {% endblocktranslate %}
                                            </div>
                                        </a>
                                    </div>
                                    <div class="menu-section-two">
                                        <a href="#" class="dropdown-link top-pading-zero w-inline-block">
                                            <div class="sub-menu-heading">
                                                {% blocktranslate %} Ochiq budjet {% endblocktranslate %}
                                            </div>
                                        </a>
                                        <a href="#" class="dropdown-link top-pading-zero w-inline-block">
                                            <div class="sub-menu-heading">
                                                {% blocktranslate %} Ochiq ma`lumotlar {% endblocktranslate %}
                                            </div>
                                        </a>
                                        <a href="/opendatadb" class="dropdown-link top-pading-zero w-inline-block">
                                            <div class="sub-menu-heading">
                                                {% blocktranslate %} Ochiq ma`lumotlar to’plami {% endblocktranslate %}
                                            </div>
                                        </a>
                                    </div>
                                    <div class="menu-section-three">
                                        <a href="#" class="dropdown-link top-pading-zero w-inline-block">
                                            <div class="sub-menu-heading">
                                                {% blocktranslate %} Korrupsiyaga oid targ’ibot materiallari {% endblocktranslate %}
                                            </div>
                                        </a>
                                        <a href="#" class="dropdown-link top-pading-zero w-inline-block">
                                            <div class="sub-menu-heading">
                                                {% blocktranslate %} Xodimlar hatti-harakatiga oid korrupsiyani oldini olish bo’yicha murojaat {% endblocktranslate %}
                                            </div>
                                        </a>
                                        <a href="#" class="dropdown-link top-pading-zero w-inline-block">
                                            <div class="sub-menu-heading">
                                                {% blocktranslate %} Korrupsiyaga qarshi kurashish bo’yicha idoraviy hujjatlar
                                                {% endblocktranslate %}
                                            </div>
                                        </a>
                                        <a href="#" class="dropdown-link top-pading-zero w-inline-block">
                                            <div class="sub-menu-heading">
                                                {% blocktranslate %} Amalga oshirilayotgan ishlar {% endblocktranslate %}
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div data-delay="0" data-hover="true" data-w-id="d500bf85-1270-3ab7-b76a-3c0d2bbcd570"
                            class="dropdown-two w-dropdown" style="max-width: 1320px">
                            <div class="dropdown-toggle-two w-dropdown-toggle" id="w-dropdown-toggle-8"
                                aria-controls="w-dropdown-list-8" aria-haspopup="menu" aria-expanded="false"
                                role="button" tabindex="0">
                                <div class="nav-menu">
                                    {% blocktranslate %} Ta`lim {% endblocktranslate %}
                                </div>
                                <div class="dropdown-hover-border"></div>
                                <div class="dropdown-icon-wrapper">
                                    <img width="12" height="8" alt="icon"
                                        src="https://cdn.prod.website-files.com/66f66b14a7360285e4700cb8/67778508b1b3622c67892bb5_Dropdown%20Icon%20Navmenu.svg"
                                        loading="lazy" class="dropdown-white-icon" />
                                </div>
                            </div>
                            <nav class="dropdown-list-two w-dropdown-list" id="w-dropdown-list-8"
                                aria-labelledby="w-dropdown-toggle-8">
                                <a href="#" class="dropdown-link w-dropdown-link" tabindex="0">
                                    {% blocktranslate %} Statistika {% endblocktranslate %}
                                </a>
                                <a href="#" class="dropdown-link w-dropdown-link" tabindex="0">
                                    {% blocktranslate %} Tahliliy ma`lumotlar {% endblocktranslate %}
                                </a>
                                <a href="/terms" class="dropdown-link w-dropdown-link" tabindex="0">
                                    {% blocktranslate %} Ta`limga doir terminlar {% endblocktranslate %}
                                </a>
                                <a href="https://kitob.uz/" class="dropdown-link w-dropdown-link" tabindex="0">
                                    {% blocktranslate %} Elektron kutubxona {% endblocktranslate %}
                                </a>
                                <a href="/school" class="dropdown-link w-dropdown-link" tabindex="0">
                                    {% blocktranslate %} Umumtaʼlim maktablarining hovli, kirish qismi va koridorlarini bezatish boʻyicha namunaviy tavsiyalardan fotolavhalar {% endblocktranslate %}
                                </a>
                                <a href="https://uzedu.uz/uz/page/barkamol_avlod" class="dropdown-link w-dropdown-link" tabindex="0">
                                    {% blocktranslate %} “Barkamol avlod” bolalar markazi {% endblocktranslate %}
                                </a>
                                <a href="#" class="dropdown-link w-dropdown-link" tabindex="0">
                                    {% blocktranslate %} Imkoniyati cheklanganlarga {% endblocktranslate %}
                                </a>
                                <a href="/recruitment" class="dropdown-link w-dropdown-link" tabindex="0">
                                    {% blocktranslate %} EFL teacher Recruitment {% endblocktranslate %}
                                </a>
                            </nav>
                        </div>
                        <div data-delay="0" data-hover="true" data-w-id="d500bf85-1270-3ab7-b76a-3c0d2bbcd57e"
                            class="dropdown-two w-dropdown" style="max-width: 1320px">
                            <div class="dropdown-toggle-two w-dropdown-toggle" id="w-dropdown-toggle-9"
                                aria-controls="w-dropdown-list-9" aria-haspopup="menu" aria-expanded="false"
                                role="button" tabindex="0">
                                <div class="nav-menu">
                                    {% blocktranslate %} Faoliyat {% endblocktranslate %}
                                </div>
                                <div class="dropdown-hover-border"></div>
                                <div class="dropdown-icon-wrapper">
                                    <img width="12" height="8" alt="icon"
                                        src="https://cdn.prod.website-files.com/66f66b14a7360285e4700cb8/67778508b1b3622c67892bb5_Dropdown%20Icon%20Navmenu.svg"
                                        loading="lazy" class="dropdown-white-icon" />
                                </div>
                            </div>
                            <nav class="dropdown-list-two w-dropdown-list" id="w-dropdown-list-9"
                                aria-labelledby="w-dropdown-toggle-9">
                                <a href="https://constitution.gov.uz/oz" class="dropdown-link w-dropdown-link" tabindex="0">
                                    {% blocktranslate %} Konstitutsiya sahifasi {% endblocktranslate %}
                                </a>
                                <a href="#" class="dropdown-link w-dropdown-link" tabindex="0">
                                    {% blocktranslate %} Elektron davlat xizmatlari reestri {% endblocktranslate %}
                                </a>
                                <a href="/egov" class="dropdown-link w-dropdown-link" tabindex="0">
                                    {% blocktranslate %} Elektron hukumat tizimi {% endblocktranslate %}
                                </a>
                                <a href="#" class="dropdown-link w-dropdown-link" tabindex="0">
                                    {% blocktranslate %} Harakatlar strategiyasi va Davlat dasturlari {% endblocktranslate %}
                                </a>
                                <a href="#" class="dropdown-link w-dropdown-link" tabindex="0">
                                    {% blocktranslate %} Gender tengligi {% endblocktranslate %}
                                </a>
                                <a href="#" class="dropdown-link w-dropdown-link" tabindex="0">
                                    {% blocktranslate %} Tenderlar {% endblocktranslate %}
                                </a>
                                <a href="#" class="dropdown-link w-dropdown-link" tabindex="0">
                                    {% blocktranslate %} Ish reja {% endblocktranslate %}
                                </a>
                                <a href="/open" class="dropdown-link w-dropdown-link" tabindex="0">
                                    {% blocktranslate %} Ochiq majlislar o’tkazish rejalari {% endblocktranslate %}
                                </a>
                                <a href="/ijro" class="dropdown-link w-dropdown-link" tabindex="0">
                                    {% blocktranslate %} Umumta`lim tashkilotlari faoliyatini tekshirish {% endblocktranslate %}
                                </a>
                                <a href="/investment" class="dropdown-link w-dropdown-link" tabindex="0">
                                    {% blocktranslate %} Investitsiya salohiyati {% endblocktranslate %}
                                </a>
                                <a href="/employees" class="dropdown-link w-dropdown-link" tabindex="0">
                                    {% blocktranslate %} Jismoniy va yuridik shaxslarning murojaatlari bilan ishlash {% endblocktranslate %}
                                </a>
                            </nav>
                        </div>
                        <div data-delay="0" data-hover="true" data-w-id="d500bf85-1270-3ab7-b76a-3c0d2bbcd57e"
                            class="dropdown-two w-dropdown" style="max-width: 1320px">
                            <div class="top-header-one-timing-wrap">
                                <a data-wf--red-button--variant="red-button"
                                    data-w-id="357fb228-33ae-b3b5-1f97-60ac41dee7a5" href="/admin"
                                    class="button-one-style w-inline-block" style="padding: 4px 16px !important;">
                                    <div class="button-text-wrap position-relative">
                                        <div class="button-text-one" style="
                      transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1)
                        rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
                      transform-style: preserve-3d;
                    ">
                                            {% blocktranslate %} Kirish {% endblocktranslate %}
                                        </div>
                                        <div class="button-text-one two" style="
                      transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1)
                        rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
                      transform-style: preserve-3d;
                    ">
                                            {% blocktranslate %} Kirish {% endblocktranslate %}
                                        </div>
                                    </div>
                                    <div class="button-overlay" style="
                    transform: translate3d(0px, 103%, 0px) scale3d(1, 1, 1)
                      rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
                    transform-style: preserve-3d;
                    display: none;
                  "></div>
                                </a>
                            </div>
                        </div>
                    </nav>
                    <div class="menu-button-one w-nav-button" style="-webkit-user-select: text" aria-label="menu"
                        role="button" tabindex="0" aria-controls="w-nav-overlay-0" aria-haspopup="menu"
                        aria-expanded="false">
                        <div class="w-layout-vflex nav-hamburder-flex">
                            <div class="nav-hamburder one" style="
                  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1)
                    rotateX(0deg) rotateY(0deg) rotateZ(0deg)
                    skew(0deg, 0deg);
                  transform-style: preserve-3d;
                "></div>
                            <div class="nav-hamburder two" style="width: 100%"></div>
                            <div class="nav-hamburder three" style="
                  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1)
                    rotateX(0deg) rotateY(0deg) rotateZ(0deg)
                    skew(0deg, 0deg);
                  transform-style: preserve-3d;
                "></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-nav-overlay" data-wf-ignore="" id="w-nav-overlay-0"></div>
        </div>
    </div>
</section>