{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<section data-w-id="1b8a36f8-cc33-f35d-6e70-422da3371bbc" class="blog-one-hero tution-fees-hero"
  style="background-image: linear-gradient(#000000db, #0000004a), linear-gradient(#000000d1, #0c0c0c00 30%), url('https://cdn.prod.website-files.com/66f66b14a7360285e4700cb8/67695bc2103d24f42d5b520c_blog-three-bg.webp'); background-repeat: no-repeat; background-size: cover;">
  <div class="w-layout-blockcontainer container w-container">
    <div class="blog-one-hero-content tution-fee">
      <div class="subheading color-white">
        {% blocktranslate %}Yangiliklar{% endblocktranslate %}
      </div>
      <div class="headinng-one-margin overflow-hidden">
        <h1 class="slide-title no-margin color-white" style="
          transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1)
            rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
          transform-style: preserve-3d;
        ">
          {{ news_type.name }}
        </h1>
      </div>
    </div>
  </div>
</section>
<section class="blog-two-section">
  <div class="w-layout-blockcontainer container w-container">
    <div class="w-dyn-list">
      <div role="list" class="blogone-content-grid w-dyn-items">
        {% for item in news %}
        <div role="listitem" class="w-dyn-item">
          <a href="{% url 'news_detail' pk=item.pk %}"
            class="blog-two-wraper border-radius-twenty overflow-hidden w-inline-block">
            <div class="homethree-news-image"><img width="410" height="290" alt=""
                src="{{ item.image.url }}"
                loading="lazy"
                sizes="(max-width: 479px) 100vw, (max-width: 767px) 96vw, (max-width: 991px) 47vw, (max-width: 1439px) 31vw, 410px"
                class="full-height responsive-image-full-width"></div>
            <div class="blogone-title-wrap">
              <div class="w-layout-hflex homethree-news-time-wrapper">
                <div class="blogone-date">
                  <div class="blogone-date-icon"><img width="14" height="14" alt="icon"
                      src="https://cdn.prod.website-files.com/66f66b14a7360285e4700cb8/67694a941ea888d5cb63c815_calender.svg"
                      loading="lazy"></div>
                  <div>{{ item.created_at }}</div>
                </div>
              </div>
              <div class="homethree-news-inner-heading blogone-title">
                <div class="heading-style-h6">{{ item.title }}</div>
              </div>
            </div>
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
{% endblock %}