{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<section data-w-id="1b8a36f8-cc33-f35d-6e70-422da3371bbc" class="blog-one-hero tution-fees-hero"
    style="background-image: url('{{ news.image.url }}'); background-repeat: no-repeat; background-size: cover;">
    <div class="w-layout-blockcontainer container w-container">
        <div class="blog-one-hero-content tution-fee">
            <div class="subheading color-white">
                {{ news.news_type }}
            </div>
            <div class="headinng-one-margin overflow-hidden">
                <h1 class="slide-title no-margin color-white" style="
            transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1)
              rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
            transform-style: preserve-3d;
          ">
                    {{ news.title }}
                </h1>
            </div>
        </div>
    </div>
</section>
<div style="width:65%; margin: auto; padding: 2rem 0;">
    <div class="news-meta">
        <span class="news-date">{{ news.created_at|date:"d F Y" }}</span>
        <span class="news-hashtag">{{ news.hashtag }}</span>
    </div>
    <br />
    <img src="{{ news.image.url }}" alt="{{ news.title }}" class="news-image" style="width: 100%;">
    <br />
    <br />
    <br />
    <div class="news-content">
        {{ news.description|safe }}
    </div>
</div>
{% endblock %}