{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<section data-w-id="1b8a36f8-cc33-f35d-6e70-422da3371bbc" class="blog-one-hero tution-fees-hero"
  style="background-image: linear-gradient(#000000db, #0000004a), linear-gradient(#000000d1, #0c0c0c00 30%), url('https://cdn.prod.website-files.com/66f66b14a7360285e4700cb8/67695bc2103d24f42d5b520c_blog-three-bg.webp'); background-repeat: no-repeat; background-size: cover;">
  <div class="w-layout-blockcontainer container w-container">
    <div class="blog-one-hero-content tution-fee">
      <div class="subheading color-white">
        {% blocktranslate %}Boshqarma{% endblocktranslate %}
      </div>
      <div class="headinng-one-margin overflow-hidden">
        <h1 class="slide-title no-margin color-white" style="
          transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1)
            rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
          transform-style: preserve-3d;
        ">
          {% translate 'Missiya, Maqsad va Vazifalar' %}
        </h1>
      </div>
    </div>
  </div>
</section>
<section class="blog-details-content">
  <div class="w-layout-blockcontainer container w-container">
    <div data-w-id="149e2360-d492-6562-3cca-977aa310adcc" class="blog-deatils-content"
      style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
      <div class="heading-style-h3 color-black padding-top-bottom-twenty">
        {% translate 'Bizning vazifamiz' %}
      </div>
      <div class="w-richtext">
        <blockquote>
          {% blocktranslate %}
          Umumiy o'rta va maktabdan tashqari ta'lim sohasida davlat siyosatini ishlab chiqish va
          amalga oshirish.
          {% endblocktranslate %}
        </blockquote>
      </div>
    </div>
    <section class="why-two">
      <div class="w-layout-blockcontainer container w-container">
        <div class="w-layout-hflex why-us-two-header-wrap">
          <div class="why-us-header-title-wrap">
            <div class="heading-two-top-margin">
              <h2 class="slide-title no-margin">
                {% translate "Funksiya va vazifalar" %}
              </h2>
            </div>
          </div>
          <div class="why-us-two-header-text-wrap">
            <p class="no-margin">
              {% blocktranslate %}
              O'zbekiston Respublikasi Maktabgacha va maktab ta'limi vazirligining asosiy vazifalari va
              faoliyat yo'nalishlari (VMQ №146):
              {% endblocktranslate %}
            </p>
          </div>
        </div>
        <div class="w-layout-hflex why-us-two-card-section">
          <div class="w-layout-vflex icon-box-eight text-align-center border-radius-twenty">
            <div class="icon-box-eight-icon border-radius-fifty"><img width="38" height="38" alt="icon"
                src="https://cdn.prod.website-files.com/66f66b14a7360285e4700cb8/675a8cebdb0a4b26e83a4681_Vector(3).svg"
                loading="lazy"></div>
            <br>
            <p class="no-margin">
              {% blocktranslate %} umumiy o'rta va maktabdan tashqari ta'lim sohasida yagona davlat siyosatini ishlab
              chiqish
              va amalga oshirish, o'quvchilarning ma'naviy, axloqiy, intellektual va jismoniy rivojlanish darajasini
              yanada oshirish; {% endblocktranslate %}
            </p>
          </div>
          <div class="w-layout-vflex icon-box-eight text-align-center border-radius-twenty">
            <div class="icon-box-eight-icon border-radius-fifty"><img width="38" height="38" alt="icon"
                src="https://cdn.prod.website-files.com/66f66b14a7360285e4700cb8/675a8cebdb0a4b26e83a4681_Vector(3).svg"
                loading="lazy"></div>
            <br>
            <p class="no-margin">
              {% blocktranslate %}
              umumiy o'rta ta'limning davlat ta'lim standartlari va maktabdan tashqari ta'limga qo'yiladigan davlat talablariga muvofiq umumiy ta'lim muassasalari faoliyatini uslubiy boshqarishni amalga oshirish;
              {% endblocktranslate %}
            </p>
          </div>
          <div class="w-layout-vflex icon-box-eight text-align-center border-radius-twenty">
            <div class="icon-box-eight-icon border-radius-fifty"><img width="38" height="38" alt="icon"
                src="https://cdn.prod.website-files.com/66f66b14a7360285e4700cb8/675a8cebdb0a4b26e83a4681_Vector(3).svg"
                loading="lazy"></div>
            <br>
            <p class="no-margin">
              {% blocktranslate %}
              o'qituvchi kasbining maqomi va obro'sini oshirish, ta'lim muassasalari xodimlarini, shuningdek, maktabgacha va maktab ta'limi tizimi xodimlarini moddiy va ijtimoiy qo'llab -quvvatlash, ularning samarali ishlashi uchun munosib sharoitlar yaratish;
              {% endblocktranslate %}
            </p>
          </div>
          <div class="w-layout-vflex icon-box-eight text-align-center border-radius-twenty">
            <div class="icon-box-eight-icon border-radius-fifty"><img width="38" height="38" alt="icon"
                src="https://cdn.prod.website-files.com/66f66b14a7360285e4700cb8/675a8cebdb0a4b26e83a4681_Vector(3).svg"
                loading="lazy"></div>
            <br>
            <p class="no-margin">
              {% blocktranslate %}
              umumiy o'rta va maktabdan tashqari ta'lim sohasida yagona davlat siyosatini ishlab chiqish va amalga oshirish, o'quvchilarning ma'naviy, axloqiy, intellektual va jismoniy rivojlanish darajasini yanada oshirish;
              {% endblocktranslate %}
            </p>
          </div>
          <div class="w-layout-vflex icon-box-eight text-align-center border-radius-twenty">
            <div class="icon-box-eight-icon border-radius-fifty"><img width="38" height="38" alt="icon"
                src="https://cdn.prod.website-files.com/66f66b14a7360285e4700cb8/675a8cebdb0a4b26e83a4681_Vector(3).svg"
                loading="lazy"></div>
            <br>
            <p class="no-margin">
              {% blocktranslate %}
              ta'lim muassasalarida chet tillarini o'qitish samaradorligini ta'minlashga qaratilgan kompleks chora -tadbirlarni amalga oshirish;
              {% endblocktranslate %}
            </p>
          </div>
          <div class="w-layout-vflex icon-box-eight text-align-center border-radius-twenty">
            <div class="icon-box-eight-icon border-radius-fifty"><img width="38" height="38" alt="icon"
                src="https://cdn.prod.website-files.com/66f66b14a7360285e4700cb8/675a8cebdb0a4b26e83a4681_Vector(3).svg"
                loading="lazy"></div>
            <br>
            <p class="no-margin">
              {% blocktranslate %}
              o'quv jarayoniga o'quvchilarning ta'limiy, psixologik va jismoniy stressini optimallashtirishni hisobga olgan holda, ta'limning innovatsion shakllarini, zamonaviy pedagogik va axborot texnologiyalarini, kasbiy yo'naltirish, o'qitish va o'qitishning samarali usullarini joriy etish;
              {% endblocktranslate %}
            </p>
          </div>
        </div>
      </div>
    </section>
    <div>
      <div class="heading-style-h3 color-black padding-top-bottom-twenty">
        {% translate "MAQSADIMIZ:O'SISH VA RIVOJLANISH" %}
      </div>
      <p>
        {% blocktranslate %}
        Maktabgacha va maktab ta'limi vazirligi maktab o'quvchilarining rivojlanishiga alohida e'tibor
        qaratgan holda pedagog xodimlarning ulkan hissasini qadrlaydigan ta'lim tizimini yaratishga intiladi.
        {% endblocktranslate %}
      </p>
    </div>
    <div class="w-layout-grid blog-details-image-grid"><img
        src="https://cdn.prod.website-files.com/675fb07e372637ad377af6f8/676a33e24c49b3d55e6171f8_Blog-details-image-one.webp"
        loading="lazy" width="630" height="460" alt="" sizes="(max-width: 767px) 94vw, 630px"
        srcset="https://cdn.prod.website-files.com/675fb07e372637ad377af6f8/676a33e24c49b3d55e6171f8_Blog-details-image-one-p-500.webp 500w, https://cdn.prod.website-files.com/675fb07e372637ad377af6f8/676a33e24c49b3d55e6171f8_Blog-details-image-one-p-800.webp 800w, https://cdn.prod.website-files.com/675fb07e372637ad377af6f8/676a33e24c49b3d55e6171f8_Blog-details-image-one-p-1080.webp 1080w, https://cdn.prod.website-files.com/675fb07e372637ad377af6f8/676a33e24c49b3d55e6171f8_Blog-details-image-one.webp 1260w"
        class="border-radius-ten"><img
        src="https://cdn.prod.website-files.com/675fb07e372637ad377af6f8/676a313bd16819bd92eaf05d_Blog-details-image-two.webp"
        loading="lazy" width="630" height="460" alt="" sizes="(max-width: 767px) 94vw, 630px"
        srcset="https://cdn.prod.website-files.com/675fb07e372637ad377af6f8/676a313bd16819bd92eaf05d_Blog-details-image-two-p-500.webp 500w, https://cdn.prod.website-files.com/675fb07e372637ad377af6f8/676a313bd16819bd92eaf05d_Blog-details-image-two-p-800.webp 800w, https://cdn.prod.website-files.com/675fb07e372637ad377af6f8/676a313bd16819bd92eaf05d_Blog-details-image-two-p-1080.webp 1080w, https://cdn.prod.website-files.com/675fb07e372637ad377af6f8/676a313bd16819bd92eaf05d_Blog-details-image-two.webp 1260w"
        class="border-radius-ten"></div>
    <div class="blog-details-commet border-radius-fifteen position-relative">
      <div class="blog-details-comment-text" style="display: flex; gap: 20px; align-items: center;">
        <img src="{% static 'images/logo.png' %}" alt="#" width="150px" />
        <div>
          <p class="no-margin">
            {% translate 'Yangi O‘zbekiston – maktab ostonasidan boshlanadi' %}
          </p>
          <h5>{% translate 'Shavkat Mirziyoyev' %}</h5>
        </div>
      </div>
      <div class="blog-details-quote-icon"><img
          src="https://cdn.prod.website-files.com/66f66b14a7360285e4700cb8/676906c6f14ff608c30c6c03_icon%20(4).svg"
          loading="lazy" width="67" height="56" alt="icon"></div>
    </div>
    <div data-w-id="4bd45c6a-4b7b-a98e-8056-3a165741b5b2" class="blog-details-second-details"
      style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
      <div class="heading-style-h3 color-black">
        {% translate 'Bizning strategiyamiz' %}
      </div>
      <div class="w-richtext">
        <p>
          {% blocktranslate %}
          Umumta’lim tizimida iqtisodiyotning innovatsion rivojlanishi, ilg‘or xalqaro tajriba va
          jamiyatning zamonaviy talablariga muvofiq sifatli ta’lim olish imkoniyatlarini yaratish;
          {% endblocktranslate %}
        </p>
        <p>
          {% blocktranslate %}
          Inson kapitalini mehnat bozorida va umuman mamlakatda o‘quvchining raqobatbardoshlik darajasini
          belgilovchi asosiy omil sifatida rivojlantirish.
          {% endblocktranslate %}
        </p>
      </div>
    </div>
  </div>
</section>
{% endblock %}